* {
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  font-family: Raleway, sans-serif;
  background-color: gray;
}

.header {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  padding: 94px 50px;
  align-items: center;
  font-size: 18px;
  text-underline-offset: 5px;
  background-color: #FFF;
}


.header_logo {
  display: flex;
  justify-content: start;
  width: 148px;
  height: 105px;
}

.header_logo-image {
  width: 135px;
  height: 106px;
  margin-left: -67px;
  margin-top: -2px;
}

.header_menu-list {
  display: flex;
  list-style: circle;
  gap: 32px;
  margin-bottom: 1px;
  margin-left: 2px;
}

.header_address {
  display: flex;
  flex-direction: column;
  font-style: normal;
  line-height: 1.35;
}

.header_address-list {
  margin-top: -1px;
  margin-right: 2px;
  list-style: none;
}

.header_menu-list-item-link-main {
  list-style: none;
}

.overlay {
  position: absolute;
  background-color: rgb(0 0 0 / 0.6);
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: 1;
}

.cover_description {
  max-width: 1440px;
  height: 757px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.cover_description-text {
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 165px 50px 0px;
  gap: 8px;
  position: relative;
  z-index: 1;
}

.aligned_text {
  text-transform: uppercase;
  font-size: 100px;
  letter-spacing: 30px;
}

.letter_spacing-left {
  margin-left: -24px;
}

.aligned_text-center {
  display: flex;
  justify-content: center;
  letter-spacing: 30px;
  margin-top: 1px;
}

.letter_spacing-extended {
  letter-spacing: 60px;
}

.aligned_text-right {
  display: flex;
  margin-left: auto;
  margin-top: -5px;
}

.no_letter-spacing {
  letter-spacing: 0;
}

.aligned_text_auction {
  display: flex;
  justify-content: center;
  color: #fff;
  word-spacing: 17px;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 132px;
  margin-left: 32px;
}

.aligned_text_auction-button {
  font-family: Raleway;
  color: #fff;
  border: none;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  background: transparent;
}

.aligned_text_auction-button-item {
  display: flex;
  justify-content: center;
  margin-left: 1083px;
  padding: 12px;
  width: 258px;
  margin-top: -48px;
  text-decoration: none;
  border: 1px solid;
}

.lots {
  background-color: #fff;
  max-width: 1440px;
  padding: 180px 50px 3px;
}

.lots_heading {
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  position: relative;
  padding: 0 0 27px 40px;
}

.lots_card-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 25px;
}

.lots_card-list-item {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  position: relative;
  width: 430px;
  list-style-type: none;
}

.card-link {
  display: flex;
  text-decoration: none;
}

.card {
  width: 100%;
  height: 100%;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  border: 1px solid rgb(0, 0, 0);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card_type-film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type-book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type-picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card_title {
  display: flex;
  flex-grow: 1;
  top: 17px;
  width: 350px;
  max-height: 80px;
  position: relative;
  color: #fff;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
  text-underline-offset: 3px;
}

.card_text {
  display: flex;
  flex-grow: 1;
  bottom: 16px;
  align-items: flex-end;
  width: 350px;
  max-height: 240px;
  position: relative;
  color: #fff;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
}

.lots_look-more-link {
  color: #000;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: underline;
  text-underline-offset: 5px;
  padding: 30px 0 0 40px;
}

.about {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  max-width: 1440px;
  padding: 180px 145px 3px;
}

.about-logo {
  background-color: black;
  border-radius: 50%;
  background-position: center;
  position: relative;
  width: 240px;
  height: 240px;
}

.about_logo-image {
  background-image: url(../images/logo-white.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  width: 150px;
  height: 117px;
  left: 45px;
  top: 59px;
}

.about_title {
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  position: relative;
  left: 360px;
  bottom: 142px;
}

.about_text {
  display: flex;
  flex-direction: column;
  margin-left: 360px;
  margin-top: -40px;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 77%;
}

.about_auction-text {
  line-height: 23px;
  padding-bottom: 30px;
}

.footer {
  max-width: 1440px;
  height: 338px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  text-underline-offset: 4px;
  padding: 50px 50px 52px 50px;

}

.footer_address {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-style: normal;
  line-height: 1.35;
  white-space: nowrap;
  justify-self: end;
  padding-top: 60px;
}

.footer_address-list {
  list-style: none;
}

.footer_menu-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: center;
  padding-top: 25px;
  padding-left: 100px;
}

.footer_menu-list-item-main {
  list-style: none;
}

.footer_social-list {
  display: flex;
  padding-top: 13px;
  margin-right: 50px;
}

.footer_social-link {
  margin-right: -145px;
}

  .footer_social-icon {
  width: 240px;
  height: 48px;
}